/* Supprimer les marges et le padding par défaut */
html, body {
    margin: 0;
    padding: 0;
}

/* Style de base */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ee82ee, pink);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    padding: 10px 30px; /* Ajout de marge à droite et à gauche (30px de chaque côté) */
    position: fixed; /* Fixe la barre en haut de la page */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    border-bottom: 2px solid black;
}

/* Logo */
.navbar .logo img {
    width: 50px; /* Taille du logo */
}

/* Liens de navigation */
.navbar .nav-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0 40px; /* Applique la marge à gauche et à droite du contenu de la navbar */
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Hover effect pour les liens de la navbar */
.navbar .nav-links a:hover {
    background-color: #32c786; /* Couleur verte au survol */
    color: white;
}

/* Contenu principal */
.content {
    text-align: center;
    margin-top: 100px; /* Laisse de l'espace pour la navbar fixe */
    color: white; /* Texte en blanc pour la lisibilité */
}

.content h2 {
    font-size: 24px;
}

.content p {
    font-size: 16px;
    color: #ddd; /* Gris clair pour le texte secondaire */
}

/* Effet de survol pour les boutons */
.navbar .nav-links a:hover {
    background-color: #32c786; /* Fond vert au survol */
    color: white;
}
